.container
{
    margin-left: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 600px;
    
}
#canva
{
    border: 2px solid;
}
#downloadButton{
    margin-left: 20px;
    display: inline-block;
    border-radius: 7px;
    border: none;
    background: #1875FF;
    color: white;
    font-family: inherit;
    text-align: center;
    font-size: 13px;
    box-shadow: 0px 14px 56px -11px #1875FF;
    width: 10em;
    padding: 1em;
    transition: all 0.4s;
    cursor: pointer;
   }
   
   #downloadButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
   }
   
   #downloadButton span:after {
    content: 'for free';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.7s;
   }
   
   #downloadButtonn:hover span {
    padding-right: 3.55em;
   }
   
   #downloadButton:hover span:after {
    opacity: 4;
    right: 0;
   }
.controls
{
    margin-left: 200px;

    margin-top: 10px;
}

#clearButton {
    margin-left: 20px;

    display: inline-block;
    border-radius: 7px;
    border: none;
    background: #1875FF;
    color: white;
    font-family: inherit;
    text-align: center;
    font-size: 13px;
    box-shadow: 0px 14px 56px -11px #1875FF;
    width: 10em;
    padding: 1em;
    transition: all 0.4s;
    cursor: pointer;
   }
   
   #clearButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
   }
   
   #clearButton span:after {
    content: 'for free';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.7s;
   }
   
   #clearButton:hover span {
    padding-right: 3.55em;
   }
   
   #clearButton:hover span:after {
    opacity: 4;
    right: 0;
   }